Exercise- Earthquake Monitoring/flows.json
[
    {
        "id": "7d917929.45bd4",
        "type": "tab",
        "label": "Earthquake Details",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f69d1103.a71c08",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "beaf1c9a.3e1a5",
        "type": "subflow",
        "name": "rsoeedis_earthquake",
        "info": "",
        "in": [
            {
                "x": 517,
                "y": 120,
                "wires": [
                    {
                        "id": "224291d.11a266e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1277,
                "y": 120,
                "wires": [
                    {
                        "id": "a1afd42a.7a2f68",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "b4258a80.23711",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Arial,Arial,Helvetica,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Arial,Arial,Helvetica,sans-serif"
                }
            }
        },
        "site": {
            "name": "Earthquake Updates",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 58,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 6,
                "py": 6
            }
        }
    },
    {
        "id": "52c85d4d.e5168c",
        "type": "ui_group",
        "z": "",
        "name": "Map",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "14",
        "collapse": false
    },
    {
        "id": "61fe4099.b54c78",
        "type": "ui_group",
        "z": "",
        "name": "Gauges",
        "tab": "3b6f23a0.76b50c",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "25f7d503.2258e2",
        "type": "ui_group",
        "z": "",
        "name": "Graphs",
        "tab": "3b6f23a0.76b50c",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "ef69d459.d9dd88",
        "type": "ui_group",
        "z": "",
        "name": "Earthquake Frequency",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "49c9c7be.6334f",
        "type": "ui_group",
        "z": "",
        "name": "Latest tweet",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "985277b4.595ec8",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "abfa14a1.318648",
        "type": "ui_group",
        "z": "",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "30",
        "collapse": false
    },
    {
        "id": "6d12c2bc.4e254c",
        "type": "ui_group",
        "z": "",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "30",
        "collapse": false
    },
    {
        "id": "acd79cb2.f4fe3",
        "type": "twitter-credentials",
        "z": "",
        "screen_name": "sunlit404"
    },
    {
        "id": "44788673.d1a4a",
        "type": "ui_group",
        "z": "7d917929.45bd4",
        "name": "Tweets&Map",
        "tab": "2e5a79bd.c9874e",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false
    },
    {
        "id": "81045803.7a8e3",
        "type": "ui_tab",
        "z": "",
        "name": "Dashboard",
        "icon": "dashboard"
    },
    {
        "id": "390fcd.e9e83834",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Arial,Arial,Helvetica,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Arial,Arial,Helvetica,sans-serif"
                }
            }
        },
        "site": {
            "name": "Earthquake Updates",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 58,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 6,
                "py": 6
            }
        }
    },
    {
        "id": "7a799063.95f39",
        "type": "ui_group",
        "z": "",
        "name": "Map",
        "tab": "81045803.7a8e3",
        "order": 1,
        "disp": false,
        "width": "14",
        "collapse": false
    },
    {
        "id": "a412f323.d10ba8",
        "type": "ui_group",
        "z": "",
        "name": "Gauges",
        "tab": "3b6f23a0.76b50c",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "f8c7b188.842f78",
        "type": "ui_group",
        "z": "",
        "name": "Graphs",
        "tab": "3b6f23a0.76b50c",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "e3ba0121.92c4f8",
        "type": "ui_group",
        "z": "",
        "name": "Earthquake Frequency",
        "tab": "81045803.7a8e3",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "b157990e.9a2a2",
        "type": "ui_group",
        "z": "",
        "name": "Latest tweet",
        "tab": "81045803.7a8e3",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "5cc35817.bbfb58",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3525fe23.59e852",
        "type": "ui_group",
        "z": "",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "30",
        "collapse": false
    },
    {
        "id": "d54f9086.b3df48",
        "type": "ui_group",
        "z": "",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "30",
        "collapse": false
    },
    {
        "id": "aeba6c18.2ffee8",
        "type": "debug",
        "z": "7d917929.45bd4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1350,
        "y": 60,
        "wires": []
    },
    {
        "id": "b87dae07.7a5bb8",
        "type": "debug",
        "z": "7d917929.45bd4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 423,
        "y": 320,
        "wires": []
    },
    {
        "id": "1e6d3d42.2fd963",
        "type": "search place",
        "z": "7d917929.45bd4",
        "query": "Location",
        "maxrows": "1",
        "style": "SHORT",
        "username": "",
        "debug": false,
        "name": "",
        "x": 443,
        "y": 380,
        "wires": [
            [
                "69f7c746.a68538",
                "b5cbeb9e.53f6f8"
            ]
        ]
    },
    {
        "id": "69f7c746.a68538",
        "type": "debug",
        "z": "7d917929.45bd4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 623,
        "y": 320,
        "wires": []
    },
    {
        "id": "f9b40462.f85c08",
        "type": "split",
        "z": "7d917929.45bd4",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1346,
        "y": 120,
        "wires": [
            [
                "86f6960c.5fc56"
            ]
        ]
    },
    {
        "id": "fded023f.19cf",
        "type": "change",
        "z": "7d917929.45bd4",
        "name": "Set GeoNames Query",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "payload.Location",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "details",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 213,
        "y": 380,
        "wires": [
            [
                "b87dae07.7a5bb8",
                "1e6d3d42.2fd963"
            ]
        ]
    },
    {
        "id": "b5cbeb9e.53f6f8",
        "type": "change",
        "z": "7d917929.45bd4",
        "name": "Set Lon & Lat",
        "rules": [
            {
                "t": "set",
                "p": "location.lon",
                "pt": "msg",
                "to": "payload.geonames[0].lng",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "location.lat",
                "pt": "msg",
                "to": "payload.geonames[0].lat",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 653,
        "y": 380,
        "wires": [
            [
                "55772942.3604a8"
            ]
        ]
    },
    {
        "id": "174d7d97.7baa7a",
        "type": "change",
        "z": "7d917929.45bd4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"name\": parts.index,\t   \"Continent\":details.Continent,\t   \"Location\":details.Location,\t   \"Magnitude\":details.Magnitude,\t   \"Radial Distance\":details.\"Radial Distance\",\t   \"Source\":details.Source,\t   \"Event Date\":details.\"Event Date\",\t   \"longitude\": data.coord.lon,\t   \"latitude\":data.coord.lat,\t   \"Type\":details.Type,\t   \"Temperature\":data.main.temp,\t   \"Pressure\":data.main.pressure,\t   \"Humidity\":data.main.humidity,\t   \"Wind Speed\":data.wind.speed,\t   \"Wind Direction\":data.wind.deg,\t   \"Cloud Coverage\":data.clouds.all,\t   \"SIDC\" : \"EONPAC------\",\t   \"command\":{\t   \"heatmap\": {\t        \"gradient\": {\t            \"0.1\": \"blue\",\t            \"0.3\": \"green\",\t            \"0.6\": \"orange\",\t            \"0.9\": \"red\"\t        }\t    }\t   }\t   \t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 203,
        "y": 630,
        "wires": [
            [
                "376c776e.829a6"
            ]
        ]
    },
    {
        "id": "9147cfd7.45f858",
        "type": "debug",
        "z": "7d917929.45bd4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 923,
        "y": 580,
        "wires": []
    },
    {
        "id": "a521fcec.1874d",
        "type": "http response",
        "z": "7d917929.45bd4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 923,
        "y": 630,
        "wires": []
    },
    {
        "id": "376c776e.829a6",
        "type": "join",
        "z": "7d917929.45bd4",
        "name": "",
        "mode": "auto",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 403,
        "y": 630,
        "wires": [
            [
                "6a7ff2f3.bca62c",
                "a521fcec.1874d"
            ]
        ]
    },
    {
        "id": "1b1968fd.9607b7",
        "type": "change",
        "z": "7d917929.45bd4",
        "name": "Remove Unnecessary Properties",
        "rules": [
            {
                "t": "delete",
                "p": "details",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "location",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "data",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "time",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "description",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "query",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "title",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 653,
        "y": 630,
        "wires": [
            [
                "9147cfd7.45f858"
            ]
        ]
    },
    {
        "id": "f74609ba.878b6",
        "type": "comment",
        "z": "7d917929.45bd4",
        "name": "Get Earthquake Info",
        "info": "Grab info on earthquakes that happened in the last 24 hrs",
        "x": 1046,
        "y": 40,
        "wires": []
    },
    {
        "id": "522a592c.2cbbc8",
        "type": "http in",
        "z": "7d917929.45bd4",
        "name": "",
        "url": "/earthquakeinfo",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 153,
        "y": 115,
        "wires": [
            [
                "df237150.a780c8"
            ]
        ]
    },
    {
        "id": "bcadd9e8.ad5628",
        "type": "comment",
        "z": "7d917929.45bd4",
        "name": "Create Custom Earthquake Web service",
        "info": "Create Custom Web service for getting earthquake details",
        "x": 213,
        "y": 35,
        "wires": []
    },
    {
        "id": "df237150.a780c8",
        "type": "link out",
        "z": "7d917929.45bd4",
        "name": "earthquake web service link out",
        "links": [
            "ee399a30.6f1228"
        ],
        "x": 288,
        "y": 115,
        "wires": []
    },
    {
        "id": "ee399a30.6f1228",
        "type": "link in",
        "z": "7d917929.45bd4",
        "name": "earthquake info link in",
        "links": [
            "df237150.a780c8"
        ],
        "x": 971,
        "y": 120,
        "wires": [
            [
                "59f5792c.614978"
            ]
        ]
    },
    {
        "id": "86f6960c.5fc56",
        "type": "link out",
        "z": "7d917929.45bd4",
        "name": "earthquake info link out",
        "links": [
            "6ee74e6c.1eab7"
        ],
        "x": 1448,
        "y": 120,
        "wires": []
    },
    {
        "id": "6ee74e6c.1eab7",
        "type": "link in",
        "z": "7d917929.45bd4",
        "name": "coordinates info link in",
        "links": [
            "86f6960c.5fc56"
        ],
        "x": 68,
        "y": 380,
        "wires": [
            [
                "fded023f.19cf"
            ]
        ]
    },
    {
        "id": "fd64a34d.4ae66",
        "type": "comment",
        "z": "7d917929.45bd4",
        "name": "Get Coordinates",
        "info": "Grab lat & lon based on location name",
        "x": 133,
        "y": 300,
        "wires": []
    },
    {
        "id": "55772942.3604a8",
        "type": "link out",
        "z": "7d917929.45bd4",
        "name": "coordinates info link out",
        "links": [
            "fcf9e22.68b11a"
        ],
        "x": 808,
        "y": 380,
        "wires": []
    },
    {
        "id": "fdcf68aa.8924d8",
        "type": "comment",
        "z": "7d917929.45bd4",
        "name": "Set Earthquake Details for HTTP Response",
        "info": "",
        "x": 223,
        "y": 550,
        "wires": []
    },
    {
        "id": "648e3da.b8b1044",
        "type": "link in",
        "z": "7d917929.45bd4",
        "name": "earthquake web service link in",
        "links": [
            "781d98ff.646a8"
        ],
        "x": 68,
        "y": 630,
        "wires": [
            [
                "174d7d97.7baa7a"
            ]
        ]
    },
    {
        "id": "965f43d0.5fcc2",
        "type": "inject",
        "z": "f69d1103.a71c08",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "40bfdabf.befd9c"
            ]
        ]
    },
    {
        "id": "aa265339.484678",
        "type": "worldmap",
        "z": "f69d1103.a71c08",
        "name": "",
        "lat": "50",
        "lon": "-1",
        "zoom": "2",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "x": 1096,
        "y": 100,
        "wires": []
    },
    {
        "id": "f9a9502c.93ef78",
        "type": "ui_text",
        "z": "f69d1103.a71c08",
        "group": "b157990e.9a2a2",
        "order": 2,
        "width": "10",
        "height": "2",
        "name": "Latest Tweet",
        "label": "",
        "format": "{{msg.tweet.text}}",
        "layout": "row-center",
        "x": 370,
        "y": 440,
        "wires": []
    },
    {
        "id": "b448e6f3.c085c",
        "type": "ui_chart",
        "z": "f69d1103.a71c08",
        "name": "",
        "group": "e3ba0121.92c4f8",
        "order": 0,
        "width": "10",
        "height": "9",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "D/M",
        "interpolate": "linear",
        "nodata": "Awaiting info",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 1576,
        "y": 440,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "bf5b15ee.1aeca8",
        "type": "function",
        "z": "f69d1103.a71c08",
        "name": "Count",
        "func": "var arr = msg.payload;\n\nvar counts = {};\nfor (var i = 0; i < arr.length; i++) {\n    counts[arr[i]] = 1 + (counts[arr[i]] || 0);\n}\n\nmsg.payload = counts;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1136,
        "y": 440,
        "wires": [
            [
                "a8fabb2b.06f0c"
            ]
        ]
    },
    {
        "id": "931d1e34.173d58",
        "type": "change",
        "z": "f69d1103.a71c08",
        "name": "Filter Areas",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Continent",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 936,
        "y": 440,
        "wires": [
            [
                "bf5b15ee.1aeca8"
            ]
        ]
    },
    {
        "id": "a8fabb2b.06f0c",
        "type": "function",
        "z": "f69d1103.a71c08",
        "name": "Earthquake frequency",
        "func": "msg1 = {topic:\"Australia, New-Zealand\", payload:msg.payload[\"Australia, New-Zealand\"]};\nmsg2 = {topic:\"Asia\", payload:msg.payload.Asia};\nmsg3 = {topic:\"North-America\", payload:msg.payload[\"North-America\"]};\nmsg4 = {topic:\"South-America\", payload:msg.payload[\"South-America\"]};\nmsg5 = {topic:\"Europe\", payload:msg.payload.Europe};\nmsg6 = {topic:\"Africa\", payload:msg.payload.Africa};\n\nmsg7 = {topic:\"Middle-East\", payload:msg.payload[\"Middle-East\"]};\nmsg8 = {topic:\"Middle-America\", payload:msg.payload[\"Middle-America\"]};\nmsg9 = {topic:\"Indonesian Archipelago\", payload:msg.payload[\"Indonesian Archipelago\"]};\nmsg10 = {topic:\"Caribean Sea\", payload:msg.payload[\"Caribean Sea\"]};\nmsg11 = {topic:\"Pacific Ocean\", payload:msg.payload[\"Pacific Ocean\"]};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9, msg10, msg11];",
        "outputs": 11,
        "noerr": 0,
        "x": 1346,
        "y": 440,
        "wires": [
            [
                "b448e6f3.c085c"
            ],
            [
                "b448e6f3.c085c"
            ],
            [
                "b448e6f3.c085c"
            ],
            [
                "b448e6f3.c085c"
            ],
            [
                "b448e6f3.c085c"
            ],
            [
                "b448e6f3.c085c"
            ],
            [
                "b448e6f3.c085c"
            ],
            [
                "b448e6f3.c085c"
            ],
            [
                "b448e6f3.c085c"
            ],
            [
                "b448e6f3.c085c"
            ],
            [
                "b448e6f3.c085c"
            ]
        ]
    },
    {
        "id": "6b675a1b.fa0e8c",
        "type": "ui_template",
        "z": "f69d1103.a71c08",
        "group": "7a799063.95f39",
        "name": "Map",
        "order": 1,
        "width": "14",
        "height": "13",
        "format": "<div align=center ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 470,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "17538015.778f7",
        "type": "template",
        "z": "f69d1103.a71c08",
        "name": "Display",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src=\"/worldmap\" height=670 width=870></iframe>",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "6b675a1b.fa0e8c"
            ]
        ]
    },
    {
        "id": "9f937da2.b42e18",
        "type": "openweathermap",
        "z": "7d917929.45bd4",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "",
        "country": "",
        "language": "en",
        "x": 1143,
        "y": 380,
        "wires": [
            [
                "781d98ff.646a8",
                "ef2667dc.e609b8"
            ]
        ]
    },
    {
        "id": "7dd5ead7.737e0c",
        "type": "comment",
        "z": "7d917929.45bd4",
        "name": "Get Weather Info",
        "info": "Grab info on current weather",
        "x": 1033,
        "y": 300,
        "wires": []
    },
    {
        "id": "fcf9e22.68b11a",
        "type": "link in",
        "z": "7d917929.45bd4",
        "name": "weather info link out",
        "links": [
            "55772942.3604a8"
        ],
        "x": 974,
        "y": 380,
        "wires": [
            [
                "9f937da2.b42e18"
            ]
        ]
    },
    {
        "id": "38129f0.9341562",
        "type": "comment",
        "z": "f69d1103.a71c08",
        "name": "Reflect Changes in /worldmap into Dashboard",
        "info": "",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "e09e1313.361b9",
        "type": "comment",
        "z": "f69d1103.a71c08",
        "name": "Send Points to /worldmap",
        "info": "",
        "x": 896,
        "y": 40,
        "wires": []
    },
    {
        "id": "e5e1e264.6c748",
        "type": "comment",
        "z": "f69d1103.a71c08",
        "name": "Send Points to /worldmap",
        "info": "",
        "x": 896,
        "y": 380,
        "wires": []
    },
    {
        "id": "782cdea5.f1f5b",
        "type": "link out",
        "z": "f69d1103.a71c08",
        "name": "earthquake points link out",
        "links": [
            "f8f0dd53.6cda38",
            "60f6b6a8.911538",
            "8e42cbd0.fd0868"
        ],
        "x": 455,
        "y": 240,
        "wires": []
    },
    {
        "id": "8e42cbd0.fd0868",
        "type": "link in",
        "z": "f69d1103.a71c08",
        "name": "earthquake points link in",
        "links": [
            "782cdea5.f1f5b"
        ],
        "x": 801,
        "y": 100,
        "wires": [
            [
                "ebd9d78.5131c28"
            ]
        ]
    },
    {
        "id": "c847e0be.f44268",
        "type": "comment",
        "z": "f69d1103.a71c08",
        "name": "Save to Cloudant DB",
        "info": "",
        "x": 886,
        "y": 180,
        "wires": []
    },
    {
        "id": "60f6b6a8.911538",
        "type": "link in",
        "z": "f69d1103.a71c08",
        "name": "cloudant link in",
        "links": [
            "782cdea5.f1f5b"
        ],
        "x": 801,
        "y": 240,
        "wires": [
            [
                "487ee75d.afba58"
            ]
        ]
    },
    {
        "id": "f8f0dd53.6cda38",
        "type": "link in",
        "z": "f69d1103.a71c08",
        "name": "earthquake freq link in",
        "links": [
            "782cdea5.f1f5b"
        ],
        "x": 801,
        "y": 440,
        "wires": [
            [
                "931d1e34.173d58",
                "fcd59dc5.3efec8"
            ]
        ]
    },
    {
        "id": "3b193cc3.cd589c",
        "type": "comment",
        "z": "f69d1103.a71c08",
        "name": "Display Latest Tweet",
        "info": "",
        "x": 160,
        "y": 380,
        "wires": []
    },
    {
        "id": "1873402c.5ff33",
        "type": "status",
        "z": "7d917929.45bd4",
        "name": "",
        "scope": [
            "4e1bdc8e.6a947c"
        ],
        "x": 1193,
        "y": 620,
        "wires": [
            [
                "7c155601.5a772"
            ]
        ]
    },
    {
        "id": "7c155601.5a772",
        "type": "debug",
        "z": "7d917929.45bd4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "status",
        "x": 1363,
        "y": 620,
        "wires": []
    },
    {
        "id": "781d98ff.646a8",
        "type": "link out",
        "z": "7d917929.45bd4",
        "name": "weather info link in",
        "links": [
            "648e3da.b8b1044"
        ],
        "x": 1308,
        "y": 380,
        "wires": []
    },
    {
        "id": "fd946034.f15e98",
        "type": "catch",
        "z": "7d917929.45bd4",
        "name": "",
        "scope": [
            "4e1bdc8e.6a947c"
        ],
        "x": 1183,
        "y": 560,
        "wires": [
            [
                "7daa807.7f41"
            ]
        ]
    },
    {
        "id": "7daa807.7f41",
        "type": "debug",
        "z": "7d917929.45bd4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "x": 1353,
        "y": 560,
        "wires": []
    },
    {
        "id": "a76eb278.b62e4",
        "type": "comment",
        "z": "7d917929.45bd4",
        "name": "Get errors & status",
        "info": "",
        "x": 1223,
        "y": 480,
        "wires": []
    },
    {
        "id": "fcd59dc5.3efec8",
        "type": "debug",
        "z": "f69d1103.a71c08",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 500,
        "wires": []
    },
    {
        "id": "487ee75d.afba58",
        "type": "cloudant out",
        "z": "f69d1103.a71c08",
        "name": "",
        "cloudant": "",
        "database": "earthquakeinfo",
        "service": "naturaldisaster-test-cloudantNoSQLDB",
        "payonly": false,
        "operation": "insert",
        "x": 940,
        "y": 240,
        "wires": []
    },
    {
        "id": "6a7ff2f3.bca62c",
        "type": "debug",
        "z": "7d917929.45bd4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 700,
        "wires": []
    },
    {
        "id": "ef2667dc.e609b8",
        "type": "debug",
        "z": "7d917929.45bd4",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1350,
        "y": 420,
        "wires": []
    },
    {
        "id": "ebd9d78.5131c28",
        "type": "split",
        "z": "f69d1103.a71c08",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 916,
        "y": 100,
        "wires": [
            [
                "aa265339.484678"
            ]
        ]
    },
    {
        "id": "59f5792c.614978",
        "type": "subflow:beaf1c9a.3e1a5",
        "z": "7d917929.45bd4",
        "name": "rsoeedis_earthquake",
        "x": 1136,
        "y": 120,
        "wires": [
            [
                "aeba6c18.2ffee8",
                "f9b40462.f85c08"
            ]
        ]
    },
    {
        "id": "224291d.11a266e",
        "type": "change",
        "z": "beaf1c9a.3e1a5",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"Content-Type\": \"application/JSON\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 120,
        "wires": [
            [
                "11aba7a5.83d168"
            ]
        ]
    },
    {
        "id": "11aba7a5.83d168",
        "type": "function",
        "z": "beaf1c9a.3e1a5",
        "name": "Use rsoeedis",
        "func": "var rsoeedis = global.get('rsoeedis');\n\nconst earthquakes = rsoeedis.RsoeEdisClient.earthquakes();\n\nearthquakes.then(result => {\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"geting rsoeedis earthquakes info\"});\n    node.warn(\"rsoeedis earthquakes info retrieved\");\n    node.status({});   // to clear the status\n    \n    //function needs to perform an asynchronous action before sending a message\n    //it cannot return the message at the end of the function\n    node.send({payload:result,req:msg.req,res:msg.res});\n\n}).catch(error => {\n    node.status({fill:\"red\",shape:\"ring\",text:\"error\"});\n    node.error(\"Error!! \", error);\n});\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 120,
        "wires": [
            [
                "a1afd42a.7a2f68"
            ]
        ]
    },
    {
        "id": "a1afd42a.7a2f68",
        "type": "change",
        "z": "beaf1c9a.3e1a5",
        "name": "Set Earthquake Info",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.{\t\"Type\": Earthquake\",\t   \"Continent\":$replace(continent, \" &amp;\", \",\"),\t   \"Location\": $join([location, state, country], \", \"),\t   \"Magnitude\": magnitude,\t   \"Radial Distance\": $join([$string(\t       $round($power(\t           2.7182818284590452353602874713526624977572470936999595749669676277240766303535475945713821785251664274,\t           magnitude / 1.01 - 0.13\t       ),3)\t   ), \" km\"]),\t   \"Source\": source,\t   \"Event Date\": eventDate\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "963c4406.2cd3b",
        "type": "inject",
        "z": "f69d1103.a71c08",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 128,
        "y": 100,
        "wires": [
            [
                "17538015.778f7"
            ]
        ]
    },
    {
        "id": "40bfdabf.befd9c",
        "type": "http request",
        "z": "f69d1103.a71c08",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "url": "<HOSTNAME>/earthquakeinfo",
        "tls": "",
        "x": 307.1428527832031,
        "y": 240,
        "wires": [
            [
                "782cdea5.f1f5b"
            ]
        ]
    },
    {
        "id": "8af1142b.a7725",
        "type": "twitter in",
        "z": "f69d1103.a71c08",
        "twitter": "",
        "tags": "earthquake magnitude, earthquake hits",
        "user": "false",
        "name": "Earthquake Tweets",
        "topic": "tweets",
        "inputs": 0,
        "x": 154.28573608398438,
        "y": 439.9999694824219,
        "wires": [
            [
                "f9a9502c.93ef78"
            ]
        ]
    }
]
